body{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-color: aquamarine; */
    height: 250px;
    
}



h1{
    font-style: italic;
    color: rgb(240, 12, 12);
    font-size: xx-large;
}
h3{
    font-style: oblique;
}
#ganancia {
    display: flex;
    flex-direction: column;
}