* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(assets/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav li {
  font-style: italic;
  -webkit-margin-end: 3px;
          margin-inline-end: 3px;
  padding: 1px 1px;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 10%;
}

header nav li:hover {
  background-color: #dbdada;
}

section {
  background-color: white;
}

section article {
  text-align: center;
}

section article h2 {
  color: black;
  font-family: "Akaya Kanadaka";
  font-size: 3.75rem;
}

section article li {
  color: black;
}

aside {
  background-color: #5ef8174d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside li {
  font-family: "Akaya Kanadaka";
  font-size: 1.2rem;
  color: black;
}

aside p {
  font-family: "Adamina";
  font-size: large;
  text-align: center;
  color: black;
}

aside iframe {
  margin-top: 1px;
}

footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(#0e0d0d), to(#4b4a4a));
  background-image: linear-gradient(to top, black, #0e0d0d, #4b4a4a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer h4 {
  font-family: 'Andamina', serif;
  border: solid 2px white;
  border-radius: 10px;
  padding: 2px 2px;
  margin-top: 50px;
  color: white;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.extra {
  color: darkgoldenrod;
  font-size: 3.1rem;
}

.ofertaDelDia__mercaderia {
  background-color: #5ef8174d;
  border: solid 2px white;
  padding: 2px 18px;
  border-radius: 1px;
  font-family: 'Akaya Kanadaka', cursive;
}

.ofertaDelDia__mercaderia--textAlign {
  list-style-type: none;
  text-align: left;
  font-size: 1.9rem;
}

.receta__titulo--color {
  font-family: "Akaya Kanadaka";
  font-size: 3.1rem;
  color: black;
}

.caption {
  color: black;
  font-family: "Akaya Kanadaka";
  font-size: 2.5rem;
}

.cardDeMercaderia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card:hover {
  background-color: #5ef8174d;
}

.seccionLista__tablaCompra--fontStyle {
  font-style: oblique;
}

.seccionFrutas__backgraund--color {
  background-color: #eec4b157;
  border: solid 1px #eec4b15720;
  height: auto;
}

.seccionVerdura__backgraund--color {
  background-color: #b0f2c26b;
  border: solid 1px #b0f2c26b/2-50;
  height: auto;
}

.seccionVarios__backgraund--color {
  background-color: #fbda704d;
  border: solid 1px #fbda704d20;
  height: auto;
}

.seccionLista__backgraund--color {
  background-color: #f5eaa881;
  border: solid 1px #f5eaa881#eec4b157;
  height: auto;
}

.border {
  border: 2px solid #070707;
}

.aside__receta--border {
  border: 1px solid white;
}

.header__logo {
  margin-right: 9rem;
  margin-top: 0.3rem;
}

.header__logo:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: 2s;
  transition: 2s;
}

.formulario {
  margin: 1rem;
}

.formulario--margen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem;
  margin-bottom: 1px;
}

#tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carousel {
  width: 260px;
  height: 215px;
}

#gridsEnSection {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "oferta verdura" "oferta fruta" "oferta varios";
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  -ms-grid-rows: 33% 33% auto;
      grid-template-rows: 33% 33% auto;
}

article#verduras {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: verdura;
}

article#frutas {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fruta;
}

article#varios {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: varios;
}

article#oferta {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: oferta;
}

.gridsEnBody {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "section aside" "footer footer";
  -ms-grid-columns: 80% auto;
      grid-template-columns: 80% auto;
  -ms-grid-rows: 150px 75% auto;
      grid-template-rows: 150px 75% auto;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aside;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

@media only screen and (max-width: 500px) {
  .gridsEnBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #gridsEnSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    margin-right: 15%;
  }
  .cardDeMercaderia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
  .gridsEnBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #gridsEnSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    margin-right: 20%;
  }
}

.errorDePagina {
  margin-top: 20%;
  margin-left: 40%;
}

.fondo__Error--color {
  background-color: rgba(255, 0, 0, 0.698);
}

tr > th {
  padding: 7px;
  border: 2px solid black;
}

#listaDeCliente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  border: solid 2px;
}

button {
  background-color: #74f022;
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px;
  color: white;
}

#tabla--compra {
  border: solid 2px;
}

#tabla--compra tr {
  border: solid 2px;
}

#tabla--compra td {
  border: solid 2px;
}

#contenedor-mercaderia__frutas {
  max-width: 1200px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contenedor-mercaderia__Verdura {
  max-width: 1200px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contenedor-mercaderia__Varios {
  max-width: 1200px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#boton-carrito {
  border: none;
  color: #65ec0b;
  font-size: 30px;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#boton-carrito2 {
  border: none;
  color: #65ec0b;
  font-size: 30px;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#boton-carrito3 {
  border: none;
  color: #65ec0b;
  font-size: 30px;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: #65ec0b;
  padding: 10px;
  margin: 35px;
}

#boton-carrito2:hover {
  cursor: pointer;
  color: white;
  background-color: #65ec0b;
  padding: 10px;
  margin: 35px;
}

#boton-carrito3:hover {
  cursor: pointer;
  color: white;
  background-color: #65ec0b;
  padding: 10px;
  margin: 35px;
}

#boton-carrito:focus {
  outline: none;
}

#boton-carrito2:focus {
  outline: none;
}

#boton-carrito3:focus {
  outline: none;
}

.boton-agregar {
  background-color: #65ec0b;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
}

.boton-agregar:hover {
  cursor: pointer;
}

.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: #65ec0b;
  padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #65ec0b;
  border: none;
  background-color: white;
}

.modal-carrito #carritoCerrar2 {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #65ec0b;
  border: none;
  background-color: white;
}

.modal-carrito #carritoCerrar3 {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #65ec0b;
  border: none;
  background-color: white;
}

.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
  outline: none;
}

.modal-carrito #carritoCerrar2:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar2:focus {
  outline: none;
}

.modal-carrito #carritoCerrar3:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar3:focus {
  outline: none;
}

.modal-carrito .precioProducto {
  padding-top: 10px;
}

.producto {
  border: solid 1px;
  width: 190px;
  margin-bottom: 15px;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid royalblue;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}
/*# sourceMappingURL=indexConSass.css.map */